[Unit]
Description=Test deployment bot
After=syslog.target network.target

[Service]
Restart=always
RestartSec=5s
Type=simple
User=MinusGolos
Group=MinusGolos
WorkingDirectory=/home/MinusGolos/Projects/newVersion2
ExecStart=/bin/bash -c "source /home/MinusGolos/Projects/newVersion2/myenv/bin/activate && python /home/MinusGolos/Projects/newVersion2/main.py"
StandardOutput=journal
StandardError=journal
MemoryMax=1G

[Install]
WantedBy=multi-user.target
