[Unit]
Description=Test deployment bot
After=syslog.target network.target

[Service]
Restart=always
RestartSec=5s
Type=simple
User=MinusGolos
Group=MinusGolos
MemoryMax=1G
WorkingDirectory=/home/MinusGolos/Projects/newVersion2
ExecStart=/home/MinusGolos/Projects/newVersion2/myenv/bin/python /home/MinusGolos/Projects/newVersion2/newTaskYou.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
