[Unit]
Description=Test deployement bot
After=syslog.target
After=network.target

[Service]
Restart=always
RestartSec=5s
Type=simple
User=MinusGolos
Group=MinusGolos
MemoryMax=1G
WorkingDirectory=/home/MinusGolos/Projects/newVersion2
ExecStart=/home/MinusGolos/Projects/newVersion2/myenv/bin/python /home/MinusGolos/Projects/newVersion2/newTaskYou.py

[Install]
WantedBy=multi-user.target