[Unit]
Description=Test deployment bot
After=syslog.target network.target

[Service]
Restart=always
RestartSec=10s
Type=simple
User=MinusGolos
Group=MinusGolos
MemoryMax=12G
WorkingDirectory=/home/MinusGolos/Projects/newVersion2
ExecStart=/bin/bash -c "source /home/MinusGolossGolos/miniconda3/etc/profile.d/conda.sh && conda activate base && source /home/MinusGolos/Projects/newVersion2/aiBot/bin/activate && python check.py"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
